<!doctype html>

<body>
<section>
<p>This is the Cably homepage.</p>
<p>Placeholder text: Ut sunt salvia, officia PBR williamsburg eiusmod ennui wolf retro seitan occaecat quinoa authentic. Hella raw denim swag salvia occupy, biodiesel VHS id artisan. High life wayfarers PBR chambray, mcsweeney's shoreditch veniam et consequat. Consectetur PBR reprehenderit, butcher voluptate chillwave exercitation photo booth. American apparel pour-over typewriter ethical dolor artisan ut qui, mustache wolf cray fingerstache mixtape ex culpa. Swag twee delectus four loko leggings vinyl velit, incididunt dolor pour-over biodiesel magna sapiente proident. Banksy marfa food truck gluten-free.</p>
<p><form><input type="button" class="btn" value="Rate a Ride" onclick="window.location.href=card_form.html"></form></p>
</section>
</body>
</html>
