<!doctype html>

<html>
  <form id="rating" method="POST" action="/form/">
    <legend>
      Rate the Driver
    </legend>
    <fieldset id="inputs">
      <p>
        <input type="text" id="firstName" name="firstName" placeholder="Driver First Name">
      </p>
      <p>
        <input type="text" id="lastName" name="lastName" placeholder="Driver Last Name">
      </p>
      <p>
        <input type="text" id="driverID" name="driverID" placeholder="Driver ID #">
      </p>
      <p>
        <label>
          Trip Rating
        </label>
        <p>
          <input type="number" id="ratingNumber" name="ratingNumber" value="3" min="0" max="5">
        </p>
        <p>
          <input type="text" id="comment" name="comment" placeholder="additional comments">
        </p>
    </fieldset>
    <fieldset id="actions">
      <input type="submit" class="btn" value="Submit" />
    </fieldset>
  </form>
  </div>

</html>